.container-title {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
  justify-content: center;
  margin: 30px 180px 0;
}
